@import '../../styles/colors.scss';

.inputWrap {
  position: relative;
  display: flex;
  margin-top: 16px;

  input {
    flex-grow: 1;
    padding-right: 40px;
  }

  .status {
    position: absolute;
    top: 11px;
    right: 11px;
    display: block;
    font-size: 12px;
    cursor: help;
  }
}
