@import '../../styles/colors.scss';

.inputWrap {
  position: relative;
  display: flex;
  margin-top: 16px;

  input {
    flex-grow: 1;
    padding-right: 40px;
  }

  .status {
    position: absolute;
    top: 13px;
    right: 13px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: $red;
    font-size: 12px;
    cursor: help;
  }
}
